.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Adding line number thanks to https://codepen.io/atcb/pen/jgqoXr */
.vscode-highlight {
  counter-reset: line;
  --vscode-highlight-line-highlighted-background-color: rgba(95, 152, 204, 0.2); /* default: transparent */
  --vscode-highlight-line-highlighted-border-color: rgba(0, 38, 73, 0.2); /* default: transparent */
  --vscode-highlight-line-highlighted-border-width: 5px; /* default: 2px */
}

blockquote > p {
  font-family: PlayfairDisplay-Regular;
  font-size: 3rem;
}

/* .vscode-highlight-code {
  font-family: Menlo;
} */

.vscode-highlight-line::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 16px;
  margin-left: -8px;
  -webkit-user-select: none;
  user-select: none;
}